<%= render "shared/header" %>
<div class = "main-wrapper" >
  <div class = "left-wrapper">
  </div>
  <div class = "contents-wrapper" >
    <div class = "edit-content" >
      <p class = "p-notice">登録内容の変更には現在のパスワードの入力が必要です。</p>
      <div class = "edit-justify">
        <div class = "edit-justify-box1">
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :nickname %><br />
              <%= f.text_field :nickname, autocomplete: "nickname", class: "user-field", disabled: 'disabled' %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autocomplete: "email", class: "user-field" %>
            </div>

            <div class="field">
              <%= f.label :password %> <p>変更しない場合は空欄にして下さい。</p>
              <%= f.password_field :password, autocomplete: "new-password", class: "user-field" %>

            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-field" %>
            </div>

            <div class="field">
              <%= f.label :current_password %><br />
              <%= f.password_field :current_password, autocomplete: "current-password", class: "user-field" %>
            </div>

            <div class="actions">
              <%= f.submit "変更する", class: "submit-btn" %>
            </div>
          <% end %>
        </div>
<% @tests = Test.all %>
        <div class = "edit-justify-box2">
        
          <%= "#{Study.where(user_id:current_user.id).count}/#{@tests.count}問 学習済" %><br>
          <%= "#{Exam.find(1).name}回：" %><%= "◯◯/#{@tests.where(exam_id:1).count}" %><br>
          <%= "#{Exam.find(2).name}回：" %><%= "◯◯/#{@tests.where(exam_id:2).count}" %><br>
          <%= "#{Exam.find(3).name}回：" %><%= "◯◯/#{@tests.where(exam_id:3).count}" %>
        </div>

      </div>
    </div>
  </div>
  <div class = "right-wrapper">
  </div>
</div>
<%= render "shared/footer" %>