<%= render "shared/header" %>
<div class = "main-wrapper" >
  <div class = "left-wrapper">
  </div>
  <div class = "contents-wrapper" >
    <div class = "search-content" >
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :nickname %><br />
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "user-field" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class: "user-field" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(半角英数字混在<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "user-field" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-field" %>
        </div>

        <div class="actions">
          <%= f.submit "登録する", class: "submit-btn" %>
        </div>
      <% end %>

    </div>
  </div>
  <div class = "right-wrapper">
  </div>
</div>
<%= render "shared/footer" %>
