 <header>
  <div id="pagetop"><a href="#"></a></div>
  <div class="left-header">
    <%=link_to 'ExamApp', root_path %>
  </div>
  <div class="center-header">
  </div>
  <div class="right-header">
    <ul>
      <%# ログイン分岐%>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, edit_user_registration_path %> </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %> </li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
      <% end %>
      <%# //ログイン分岐%>
    </ul>
  </div>
</header>
