<%= render "shared/header" %>
<div class = "main-wrapper" >
  <div class = "left-wrapper">
  </div>
  <div class = "contents-wrapper" >
    <div class = "search-content" >

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-field" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "user-field" %>
        </div>

        <div class="actions">
          <%= f.submit "ログインする", class: "submit-btn" %>
        </div>
      <% end %>
      
    </div>
  </div>
  <div class = "right-wrapper">
  </div>
</div>
<%= render "shared/footer" %>