<%= render "shared/header" %>
<div class = "main-wrapper" >
  <div class = "left-wrapper">
  </div>
  <div class = "contents-wrapper" >
    <div class = "search-content" >
      <%= form_with model:@test, url: items_path, local: true do |f| %>

        <%# error%>
        <%= render 'shared/error_messages', model: f.object %>
        <%# /error%>
        画像<br>
        <%= f.file_field :image, class: "file-field" %><br>
        第◯◯回<br>
        <%= f.collection_select(:exam_id, Exam.all, :id, :name, {}, {class: "user-field"}) %><br>
        時間帯<br>
        <%= f.collection_select(:zone_id, Zone.all, :id, :name, {}, {class: "user-field"}) %><br>
        番号<br>
        <%= f.text_field :number, class: "user-field" %><br>
        問題<br>
        <%= f.text_area :question, class: "text-area" %><br>
        選択肢<br>
        <%= f.text_area :choice, class: "text-area" %><br>
        答え<br>
        <%= f.text_field :answer, class: "user-field" %><br>
        カテゴリー<br>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {},{class: "user-field"}) %><br>
        
        <%= f.submit "出題する", class: "submit-btn" %><br>

      <% end %>
    </div>
  </div>
  <div class = "right-wrapper">
  </div>
</div>
<%= render "shared/footer" %>