<%= render "shared/header" %>
<div class = "main-wrapper" >
  <div class = "left-wrapper">
  </div>
  <div class = "contents-wrapper" >
    <div class = "search-content" >
      <%# search %>
      <%= search_form_for @p, url: search_items_path do |f| %>

        <div class = "search-justify">
          <div class = "search-justify-box1">
            <%= f.label :question_cont, '問題文：' , class: 'exam-label' %>
            <br>
            <%= f.text_field :question_cont, placeholder: "キーワード", class: 'exam-field' %>
            <br>
            <%= f.label :choice_cont, '選択肢：' , class: 'exam-label' %>
            <br>
            <%= f.text_field :choice_cont, placeholder: "キーワード", class: 'exam-field' %>
            <br>
            <%= f.label :exam_id_in, '第◯◯回：' , class: 'exam-label' %>
            <br>
            <%= f.collection_check_boxes :exam_id_in, @exams, :id, :name %>
            <br>
            <%= f.label :category_id_in, 'カテゴリー：' , class: 'exam-label' %>
            <br>
            <%= f.collection_check_boxes :category_id_in, @categories, :id, :name %>
            <br>
          </div>
          <div class = "search-justify-box2">
            <%= image_tag "search_mushimegane.png", width: "50%" %>
          </div>
        </div>

        <%= f.submit '検索する' , class: 'submit-btn'%>
      <% end %>
      <%# /search %>
    </div>
    
    <%if @results.count != 0 %>
      <% @results.each do |result| %>
        <div class = "exam-content" >

          <div class = "exam-justify" >

            <div class = "exam-justify-box1">
              <%= "第#{result.exam.name}回" %><br>
              <%= "問題：#{result.number}" %><br>
              <% if result.category != nil %>
                <%= result.category.name %><br>
              <% end %>
            </div>

            <div class = "exam-justify-box2">
              <%if user_signed_in? %>
                <% if !Study.exists?(user_id:current_user.id,test_id:result.id) %>
                  <%= link_to image_tag("tako.png", class: "octopus-false", 'title': "クリックで学習済"), item_studies_path(result.id), method: :post %>
                <% else %>
                  <%= link_to image_tag("tako_sumi.png", class: "octopus-true", 'title': "クリックで学習未"), item_study_path(result.id,result.id), method: :delete %>
                <% end %>
              <% end %>
            </div>
            
            <div class = "exam-justify-box3">
              <%= link_to item_path(result.id) do %>
                <div class="arrow_box">
                  <%= "コメント：#{result.comments.count}件" %>
                </div>
              <% end %>
            </div>
          
          </div>

        <%= safe_join(result.question.split("\n"),tag(:br)) %><br>
          <% if result.image.present? %>
            <%= image_tag result.image, class: "exam-image" %><br>
          <% end %>
          <% result.choice.lines.each_with_index do |line,i| %>
            <%= content_tag(:div, class: "exam-btn", id: "exam#{result.id.to_s + (i + 1).to_s}") do %>
            <%= "#{ i+1 }：" %><%= line %><% end %>
          <% end %>
          <%= content_tag(:div, class: "ans-visible", id: "exam#{result.id.to_s}") do %>
            <%= content_tag(:div, id: "exam#{result.id.to_s}ans#{result.answer.to_s}") do %>
              <%= "答え：#{result.answer}" %>
            <% end %>
            <%if user_signed_in? %>
              <% if !Study.exists?(user_id:current_user.id,test_id:result.id) %>
              <%= link_to image_tag("tako.png", class: "octopus-false", 'title': "クリックで学習済"), item_studies_path(result.id), method: :post %>
              <% else %>
              <%= link_to image_tag("tako_sumi.png", class: "octopus-true", 'title': "クリックで学習未"), item_study_path(result.id,result.id), method: :delete %>
              <% end %>
            <% end %>
          <% end %>
        </div>  
      <% end %>
    <% else %>
      <div class = "exam-content" >
        <p>問題がありません</p>
      </div>
    <% end %>

  </div>
  <div class = "right-wrapper">
  </div>
</div>
<%= render "shared/footer" %>